:root {
  --bg-color: rgb(18, 18, 18);
  --text-color: #fff;
  --text-hover: #eb3838;
}

* {
   color: var(--text-color);
   font-family: 'Poppins', 'sans-serif';
}

body {
  min-width: fit-content !important;
  background-image: url('/public/makineta-bg.jpg') !important;
  background-repeat: repeat-y !important;
  height: 500vh;
}

a {
  text-decoration: none !important;
  color: var(--text-color) !important;
  transition: 0.2s;
}

a:hover {
  color: var(--text-hover) !important;
}

.header {
  margin: 1rem 4rem;
}

.logo-text{
  position: relative;
  margin-top: 36px !important;
  margin-left: -25px !important;
  font-size: 20px !important;
  font-weight: bold;
  font-family: 'Syncopate', 'sans-serif' !important;
  transition: 0.2s;
}

.logo-text:hover {
  color: var(--text-hover);
}

.nav-link {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
  font-size: smaller !important;
}

.nav-link:hover {
  color: var(--text-hover) !important;
}

.home {
  padding: 1rem 5rem 0rem 5rem;
  margin-top: 3rem;
}

.home h1 {
  font-size: 70px !important;
  font-weight: bold !important;
  font-family: 'Syncopate', 'sans-serif' !important;
}

.home h2 {
  font-size: 20px !important;
  font-weight: bold !important;
  font-family: 'Syncopate', 'sans-serif' !important;
  color: var(--text-hover);
}