:root {
  --bg-color: rgb(18, 18, 18);
  --text-color: #fff;
  --text-hover: #eb3838;
}

* {
   background-color: var(--bg-color);
   color: var(--text-color);
   font-family: 'Poppins', 'sans-serif';
}

body {
  min-width: fit-content !important;
}

a {
  text-decoration: none !important;
  color: var(--text-color) !important;
  transition: 0.2s;
}

a:hover {
  color: var(--text-hover) !important;
}

.header {
  margin: 1rem 4rem;
}

.navbar-logo {
  font-size: large;
  font-weight: bold;
  font-family: 'Syncopate', 'sans-serif' !important;
}

.nav-link {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
  font-size: smaller !important;
}

.nav-link:hover {
  color: var(--text-hover) !important;
}

.home {
  padding: 1rem 4rem 0rem 4rem;
  margin-top: 3rem;
}