:root {
  --bg-color: rgb(18, 18, 18);
  --text-color: #fff;
  --text-hover: #eb3838;
}

* {
   color: var(--text-color);
   font-family: 'Poppins', 'sans-serif';
}

body {
  min-width: fit-content !important;
  background-image: url('/public/makineta-bg.jpg') !important;
  background-repeat: repeat-y !important;
}

a {
  text-decoration: none !important;
  color: var(--text-color) !important;
  transition: 0.2s;
}

a:hover {
  color: var(--text-hover) !important;
}

.header {
  margin: 1rem 4rem;
}

.logo-text{
  position: relative;
  margin-top: 36px !important;
  margin-left: -25px !important;
  font-size: 20px !important;
  font-weight: bold;
  font-family: 'Syncopate', 'sans-serif' !important;
  transition: 0.2s;
}

.logo-text:hover {
  color: var(--text-hover);
}

.nav-link {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
  font-size: smaller !important;
}

.nav-link:hover {
  color: var(--text-hover) !important;
}

.home {
  padding: 1rem 7.5rem 0rem 5rem;
  margin-top: 3rem;
}

.home h1 {
  font-size: xx-large !important;
  font-weight: bold !important;
  font-family: 'Syncopate', 'sans-serif' !important;
}

.home h2 {
  font-size: large !important;
  font-weight: bold !important;
  font-family: 'Syncopate', 'sans-serif' !important;
  color: var(--text-hover);
}

.home h3 {
  font-size: medium !important;
  font-weight: bold !important;
  font-family: 'Syncopate', 'sans-serif' !important;
}

.home p {
  font-size: medium !important;
  text-align: justify;
}

.home-btn {
  width: 210px !important;
  background-color: var(--text-hover) !important;
  margin-bottom: 5rem;
}

.home-btn:hover {
  color: var(--bg-color) !important;
}

.subtitle {
  margin-bottom: 2rem !important;
}

.paragraph {
  margin-bottom: 8rem;
}



/*   FOOTER   */
.footer {
  background-color: var(--text-hover) !important;
  height: 2.5rem;
  padding-top: 0.6rem !important;
  text-align: center !important;
  font-size: small !important;
}